.title{
    font-size: 100px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 250px;
    background: black;
}
.nav{
    width: 90px;
    background: black;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #FFFFFF;
    padding-left: 12px;
}
.navSelected{
    color: #dbdbdb;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
    background: #bc2930;
}
img{
    width: 300px;
    height: 300px;
}