#particles-js {
  background: cornflowerblue;
}
#vilp1l {
    position: relative;
    color: #fff;
    z-index: 9999;
    margin: auto;
    text-align: center;
    top: 30%;
    font-size: 85px;
    font-family: 'Gugi', cursive;
}