#vilp1l {
    position: relative;
    z-index: 9999;
    margin: auto;
    text-align: center;
    top: 30%;
    font-size: 85px;
    font-family: 'Gugi', cursive;
    width: 370px;
    height: 150px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 7px;
    color:#474747;
}