#a1,
#a2,
#a3 {
    width: 300px;
    height: 60px;
    background: lightgray;
    border-radius: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Do Hyeon', sans-serif;
}

.overlay {
    width: 500px;
    height: 410px;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 20%
}

body {
    background: #0e264c;
}

h1 {
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
.circ-logo {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 120px;
    margin-top: 10px;
}
.overlay2 {
    width: 850px;
    height: 1500px;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 25%
}

.overlayterms {
    width: 560px;
    height: 150px;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 5%
}
.circ-logoterms {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 80px;
    margin-top: 10px;
}
